<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Curso</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<main>
    <div class="container" th:fragment="content">
        <h1 th:text="${curso.nombre}">Curso</h1>
        <p th:text="${curso.descripcion}">Descripción</p>
        <p>Créditos: <span th:text="${curso.creditos}">0</span></p>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>